.App {
  padding: 2rem;
}

/* Styling navigation */
.navigation {
  border: 1px solid #adaaaa;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.navigation a {
  text-decoration: none;
  margin-right: 2rem;
  color: #707070;
}

.navigation a:hover, .navigation a:active {
  color: #000;
}

/* Styling main page */
.main {
  border: 1px solid #707070;
  padding: 4rem;
  margin-bottom: 2rem;
}

.picture {
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  background: #006896;
  color: #fff;
  box-shadow: 0px 2px 2px;
  width: 9rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Styling history page */
.history {
  border: 1px solid #707070;
  padding: 4rem;
  margin-bottom: 2rem;
}
