.App {
  padding: 2rem;
}

.sidebar {
  margin-right: 5rem;
}

/* Styling navigation */
.navigation {
  border: 1px solid #adaaaa;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.navigation a {
  text-decoration: none;
  margin-right: 2rem;
  color: #707070;
}

.navigation a:hover, .navigation a:active {
  color: #000;
}

/* Styling main page */
.main {
  border: 1px solid #707070;
  padding: 3rem;
  margin-bottom: 2rem;
  display: flex;
}

.main-content {
  width: 100%;
}

.picture {
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.main img {
  position: relative;
  float: left;
  width: 453px;
  height: 252px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  background: #006896;
  color: #fff;
  box-shadow: 0px 2px 2px;
  width: 9rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Styling history page */
.history {
  border: 1px solid #707070;
  padding: 3rem;
  margin-bottom: 2rem;
  display: flex;
}

.pic-wrap {
  display: flex;
  margin-bottom: 2rem;
}

.pic {
  min-width: 12rem;
  min-height: 6rem;
}

.pic-wrap img {
  position: relative;
  float: left;
  width: 10rem;
  height: 6rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}